<div class="col-md-6">
    <div class="control-group">
        <input type="age" class="form-control" name="age" id="age" placeholder="age" required="required" />
        <p class="help-block text-danger"></p>
    </div>
</div>
<div class="col-md-6">
    <div class="control-group">
        <input type="text" class="form-control" name="sex" id="sex" placeholder="sex" required="required" />
        <p class="help-block text-danger"></p>
    </div>
</div>

<div class="col-md-6">
<div class="control-group">
    <label for="">Chestpaintype</label>
    <select class="form-control" name="Chestpaintype" id="">
        <option >Select</option>
        <option value="0">ASY</option>
        <option value="1">ATA</option>
        <option value="2">NAP</option>
        <option value="3">TA</option>
    </select>
</div>
</div>
<div class="col-md-6">
<div class="control-group">
    <input type="text" class="form-control" name="RestingBP" id="RestingBP" placeholder="RestingBP" required="required"  />
    <p class="help-block text-danger"></p>
</div>
</div>
<div class="col-md-6">
<div class="control-group">
    <input type="text" class="form-control" name="Cholesterol" id="Cholesterol" placeholder="Cholesterol" required="required"  />
    <p class="help-block text-danger"></p>
</div>
</div>
<div class="col-md-6">
<div class="control-group">
    <input type="text" class="form-control" name="FastingBS" id="FastingBS" placeholder="FastingBS" required="required"  />
    <p class="help-block text-danger"></p>
</div>
</div>
<div class="col-md-6">
<div class="control-group">
    <input type="text" class="form-control" name="RestingECG" id="RestingECG" placeholder="RestingECG" required="required"  />
    <p class="help-block text-danger"></p>
</div>
</div>
<div class="col-md-6">
<div class="control-group">
    <input type="text" class="form-control" name="MaxHR" id="MaxHR" placeholder="MaxHR" required="required"  />
    <p class="help-block text-danger"></p>
</div>
</div>
<div class="col-md-6">
<div class="control-group">
    <input type="text" class="form-control" name="ExerciseAngina" id="ExerciseAngina" placeholder="ExerciseAngina" required="required"  />
    <p class="help-block text-danger"></p>
</div>
</div>
<div class="col-md-6">
<div class="control-group">
    <input type="text" class="form-control" name="Oldpeak" id="Oldpeak" placeholder="Oldpeak" required="required"  />
    <p class="help-block text-danger"></p>
</div>
</div>
<div class="col-md-12">
<div class="control-group">
    <input type="text" class="form-control" name="ST_Slope" id="ST_Slope" placeholder="ST_Slope" required="required"  />
    <p class="help-block text-danger"></p>
</div>
</div>